In [1]:
import pandas as pd
import seaborn
data = seaborn.load_dataset('iris')

In [2]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
data.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [4]:
data.to_csv('iris.csv', index = False)

In [5]:
data.sample()

   sepal_length  sepal_width  petal_length  petal_width species
9           4.9          3.1           1.5          0.1  setosa

In [6]:
data.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
54            6.5          2.8           4.6          1.5  versicolor
37            4.9          3.6           1.4          0.1      setosa
24            4.8          3.4           1.9          0.2      setosa
146           6.3          2.5           5.0          1.9   virginica
53            5.5          2.3           4.0          1.3  versicolor
38            4.4          3.0           1.3          0.2      setosa
132           6.4          2.8           5.6          2.2   virginica
27            5.2          3.5           1.5          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
69            5.6          2.5           3.9          1.1  versicolor

In [7]:
data.shape

(150, 5)

In [8]:
print(data[10:21])

    sepal_length  sepal_width  petal_length  petal_width species
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa

In [9]:
sliced_data = data[10:21]
print(sliced_data)

    sepal_length  sepal_width  petal_length  petal_width species
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa

In [10]:
specific_data = data["sepal_width"]
print(specific_data)

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 150, dtype: float64

In [11]:
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [14]:
sum_data = data['sepal_length'].sum()

In [15]:
mean_data =data['sepal_length'].mean()
median_data = data['sepal_length'].median()
mode_data = data['sepal_length'].mode()
print(sum_data, mean_data, median_data, mode_data)

876.5 5.843333333333335 5.8 0    5.0
Name: sepal_length, dtype: float64

In [16]:
data.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [18]:
sum_data = data.loc[data["species"] == 'setosa', 'sepal_length'].sum()
print(sum_data)

250.3

In [26]:
4

0    4
dtype: int64